/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    background-color: #b2bec3;
}

h1 {
color: #d63031;
font-weight: 36px;
font-weight: bold;
}

p {
    font-size: 18px;
}

.nadpisEliska {
    margin: 0 0 30px 0;
}

.box {
    background-color: white;
    width: 550px;
    margin-top: 150px;
    padding: 30px 30px;
}

.fotoEliska {
    float: right;
    border: white;
    border-width: 3px;
    border-radius: 50%;
    width: 150px;
}

.textPracuje {
    margin: 30px 0 0 0;
}

.testI {
    margin-bottom: 30px;
}

.buttonTwitter, .buttonFB {
    text-transform: uppercase;
}

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

